/CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
.vscode/
build/CMakeFiles/
build/cmake_install.cmake
build/compile_commands.json
build/main.exe.manifest
build/build.ninja
build/rules.ninja
build/.ninja_deps
build/.ninja_log
build/CMakeCache.txt
build/err.log
build/out.log
build/main.ilk
build/main.pdb
build/.cmake